/*总体样式*/
body{
    margin: 0;
    padding: 0;
    background: #f5f2f2;
}
.clear{
    clear: both;
}
/*具体样式*/
#app{
    width: 60%;
    margin: 0 auto;
    padding-top: 5%;
}
.left{
    width: 60%;
    margin: 2% auto;
    float: left;
}
.right{
    width: 30%;
    margin: 2%;
    padding-left: 2%;
    float: left;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}
